%controls-transition {
	-webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,opacity .15s ease-in-out,-webkit-box-shadow .15s ease-in-out, visibility .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,opacity .15s ease-in-out, visibility .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,opacity .15s ease-in-out, visibility .15s ease-in-out;
    cursor: pointer;
}

a,
button,
 {
	@extend %controls-transition;
}

input {
	&[type=button],
	&[type=submit] {
		 @extend %controls-transition;
	}
}

a {
	text-decoration: none;
  color: $font-color-primary;
}

.hvr-rectangle-out {
  @media (min-width: $screen-md-min) {
    transform: perspective(1px) translateZ(0);
    position: relative;

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: darken($bg-color-secondary, 25);
      transform: scale(0);
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }

    &:hover, 
    &:focus, 
    &:active {
      color: white;
    }

    &:hover:before, &:focus:before {
      transform: scale(1);
    }
  } 
}

.btn {
  position: relative;
	display: inline-block;
  min-width: 100%;
  padding: 20px;
  font-size: $font-size-md;
  font-weight: 400; 
  line-height: 1;
  color: $font-color-secondary;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  background-color: $bg-color-secondary;
  border: none;
  border-radius: 0;
  outline: none;

  @media (min-width: $screen-sm-min) {
    min-width: 135px;
  }

 // Ховер-эффекты здесь, а не отдельным классом
/*  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: darken($bg-color-secondary, 20);
    transform: scale(0);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  &:hover, &:focus, &:active {
    color: white;
  }
  &:hover:before, &:focus:before, &:active:before {
    transform: scale(1);
  }*/

  &:focus {
    outline: 1px dotted darken($bg-color-secondary, 40);

    @media (max-width: $screen-sm-max) {
      color: $font-color-secondary;
    }
  }

  &:active, &:active:focus {
    outline: 2px dotted darken($bg-color-secondary, 60);
  }

  &:active {
    background: darken($bg-color-secondary, 30);
  }

  &--primary {
    font-weight: bold;
  }


  &--secondary {
    padding-right: 30px;
    padding-left: 30px;
    font-family: $font-family-secondary;
    font-weight: bold;
    background-color: $bg-color-primary;
    color: $font-color-additional;

    @media (min-width: $screen-sm-min) {
      min-width: 165px;
    }

    &:focus {
      @media (max-width: $screen-sm-max) {
        color: $font-color-additional;
      }
    }

    &:active {
      @media (max-width: $screen-sm-max) {
        color: $font-color-secondary;
      }
    }
  }
}

.btn-toggle-menu {
  
  & &__item {
    height: 1px;
    width: 30px;
    border-radius: 0;
    background-color: $bg-color-dropdown-menu;

    &--m {
      width: 50%;
    }    

    &--l {
      width: 66.666666%;
    }

    &--big {
      width: 30px;
    }
  }

  & &__item + &__item {
    margin-top: 7px;
  }
}

.social-list {
  display: flex;
  justify-content: space-around;
  list-style: none;

  &__item {
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    padding: 7px;

    &:focus {
      outline: 1px dotted $outline-color;
    }

    &:hover {
     .social-list__icon {

        &--fb {
          --first-color: #4867AA;
        }
        &--tw {
          --first-color: #00ABF0;
        }

        &--yt {
          --first-color: #f00;
        }

        &--in {
          --first-color: #0077b5;
        }
        &--pi {
          --first-color: #e60023;
        }

        &--inst {
          --first-color: #d6249f;
        }
      }
    }
  }

   &__icon {
    display: block;
    width: 20px;
    height: 20px;
  }
}