/** {
  outline: 1px solid green;
}*/

.text-white {
  color: $font-color-secondary;
}

.list {
  padding-left: 17px;
  font-size: $font-size-md;
  line-height: $line-height-secondary;
  list-style-type: none;

  @media (max-width: $screen-xs-max) {
    line-height: $line-height-base;
  }

  &__item {
    position: relative;

    &:before {
      font-family: "Glyphicons Halflings";
      content: '\e013';
      display: block;
      position: absolute;
      left: -17px;
      top: 10px;
      height: 12px;
      width: 12px;
      padding-top: 2px;
      text-align: center;
      font-size: 8px;
      font-weight: 400;
      line-height: 1;
      background-color: $bg-color-secondary;
      color: $font-color-secondary;
      
      @media (max-width: $screen-xs-max) {
        top: 6px;
      } 
    }
  }

  &__icon {
    display: none;
    position: absolute;
    left: -17px;
    top: 10px;
    height: 12px;
    width: 12px;
    padding-top: 2px;
    background-color: $bg-color-secondary;
    color: #fff;
    font-size: 8px;
    font-weight: 400;

    @media (max-width: $screen-xs-max) {
      top: 6px;
    }
  }
}

