.header {
  padding-top: 250px;
  padding-bottom: 160px;
  font-family: $font-family-secondary;
  background-color: $bg-color-header;
  background-image: url(..\img\bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $screen-sm-max) {
    padding-top: 210px;
    padding-bottom: 120px;
  }

  @media (max-width: $screen-xs-max) {
    padding-top: 145px;
    padding-bottom: 85px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: $font-size-h1;
    font-weight: bold;
    line-height: 1;
  }

  &__breadcrumbs {
    margin-bottom: 0;
    font-size: $font-size-md;
    line-height: 1.3;
  }
}