.header {
  padding-top: 35px;
  padding-bottom: 120px;
  font-family: $font-family-secondary;
  background-color: $bg-color-header;
  background-image: url(..\img\bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $screen-sm-max) {
    padding-top: 10px;
    padding-bottom: 80px;
  }

  @media (max-width: $screen-xs-max) {
    padding-bottom: 40px;
  }

  &__info {
    margin-top: 190px;
    padding-bottom: 20px;

    @media (max-width: $screen-sm-max) {
      margin-top: 40px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: $font-size-h1;
    font-weight: bold;
    line-height: 1;
  }

  &__breadcrumbs {
    font-size: $font-size-md;
    line-height: 1.3;
  }
}