.main-nav {
  position: fixed;
  top: 0;
  margin-bottom: 0;
  width: 100%;
  transform: translateY(10px);
  z-index: 9999;
  transition: background-color 0.3s ease, transform 0.3s ease;

  @media (min-width: $screen-sm-min) {
    transform: translateY(35px);
  }

  &--fixed {     
    transform: translateY(0);
    @media (min-width: $screen-sm-min) {
      background-color: $bg-color-fixed-menu;
    }
    
    & .main-nav__header {
      @media (max-width: $screen-xs-max) {
        background-color: $bg-color-fixed-menu;
      }
    }
  }
}

.main-menu {
  font-size: $font-size-sm;
  font-weight: 700;

  @media (max-width: $screen-xs-max) {
    width: 300px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
    background-color: $bg-color-dropdown-menu;
  }

  & &__item {
    padding-left: 0px;
    padding-right: 0px;

    @media (max-width: $screen-xs-max) {
      border-bottom: 1px solid $bg-color-primary;
    }

    &:last-child {
      @media (max-width: $screen-xs-max) {
        border-bottom: none;
      }
    }

    &:hover,
    &:focus {
      & .dropdown-menu {
        @media (min-width: $screen-sm-min) {
          visibility: visible;
          transform: scaleY(1);
          opacity: 1;
        }
      }
    }
  }

  & &__link {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;

    @media (max-width: $screen-xs-max) {
      text-align: center;
      color: $font-color-secondary;
    }

    &:before {
      @media (min-width: $screen-sm-min) {
       display: block;
       content: '';
       position: absolute;
       top: 20px;
       width: calc(50% - 10px);
       height: 1px;
       background-color: $font-color-primary;
       opacity: 0;
       transition: top 0.3s ease, opacity 0.3s ease;
     }
   }

    &:hover:before {
      @media (min-width: $screen-sm-min) {
        top: 10px;
        opacity: 1;
      }
    }

    &:hover, &:focus {
      background-color: transparent;
      color: $font-color-primary;

      @media (max-width: $screen-xs-max) {
        color: $font-color-secondary;
        background-color: $bg-color-dropdown-menu-highlight;
      }      
    }

    &:focus {
      outline: 1px dotted $outline-color;
    }
  }

  &__dropdown {
    padding: 0;
    font-size: $font-size-sm;
    background-color: $bg-color-dropdown-menu;

    @media (min-width: $screen-sm-min) {
      display: block;
      opacity: 0;
      visibility: hidden;
      transform: scaleY(0.5);
      transform-origin: 0 0;
      transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    }

    & > li {

      @media (max-width: $screen-xs-max) {
        border-bottom: 1px dotted $bg-color-primary;
      }

      &:last-child {
        @media (max-width: $screen-xs-max) {
          border-bottom: none;
        }
      }

      & > a {
        padding: 10px 20px;
        font-weight: 700;
        color: $font-color-secondary;

        @media (max-width: $screen-xs-max) {
          background-color: #585866;
        }

        &:hover {
          background-image: none;
          background-color: $bg-color-dropdown-menu-highlight;
          color: $font-color-secondary;
        }

        &:focus {
          background-image: none;
          background-color: $bg-color-dropdown-menu-highlight;
          color: $font-color-secondary;
          outline: 1px dotted $bg-color-primary;
        }
      }
    }

    li:nth-child(2n) a {
      background-color: #585866;

      &:hover, &:focus {
        background-color: $bg-color-dropdown-menu-highlight;
      }
    }
  }

  & .open>a,
  & .open>a:focus {
    background-color: transparent;

    @media (max-width: $screen-xs-max) {
      background-color: $bg-color-dropdown-menu-highlight;
      border-color: $bg-color-primary;
    }
  }

  &--bg {
    @media (max-width: $screen-xs-max) {
      background-color: $bg-color-fixed-menu;
    }
  }
}

.logo {
  padding-top: 17px;

  &:focus {
    outline: none;
  }
}