.form {

  & &__field {
    border-radius: 0;

    &:hover {
      @media (min-width: $screen-sm-min) {
        border-color: transparent;
        outline: 2px dotted darken($bg-color-secondary, 40);
        outline-offset: -2px;
        box-shadow: none;
      }
    }

    &:focus {
      border-color: transparent;
      outline: 2px dotted darken($bg-color-secondary, 40);
      outline-offset: -2px;
      box-shadow: none;
    }

    &::placeholder {
      font-weight: bold;
      text-transform: uppercase;
      font-size: $font-size-sm;
      color: $font-color-placeholder;
    }
  }

  & &__btn.btn--primary {
    font-size: $font-size-md;
    border-radius: 0;
  }
}