.header {
  padding-top: 35px;
  width: 100%;
  min-height: 500px;
  font-family: $font-family-secondary;
  background-color: $bg-color-header;
  background-image: url(..\img\bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $screen-sm-max) {
    padding-top: 10px;
  }
}

/*.main-menu {
  font-size: $font-size-sm;
  font-weight: 700;

  & &__item {
    padding-left: 0px;
    padding-right: 0px;

    &:hover,
    &:focus {
      & .dropdown-menu {
        @media (min-width: $screen-sm-min) {
          visibility: visible;
          transform: scaleY(1);
          opacity: 1;
        }
      }
    }
  }

  & &__link {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;

    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 20px;
      width: calc(50% - 10px);
      height: 1px;
      background-color: $font-color-primary;
      opacity: 0;
      transition: top 0.3s ease, opacity 0.3s ease;
    }

    &:hover:before {
      top: 10px;
      opacity: 1;
    }

    &:hover, &:focus {
      background-color: transparent;
      color: $font-color-primary;      
    }

    &:focus {
      outline: 1px dotted $outline-color;
    }
  }

  &__dropdown {
    padding: 0;
    font-size: $font-size-sm;
    background-color: $bg-color-dropdown-menu;

    @media (min-width: $screen-sm-min) {
      display: block;
      opacity: 0;
      visibility: hidden;
      transform: scaleY(0.5);
      transform-origin: 0 0;
      transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    }
    
    & > li > a {
      padding: 10px 20px;
      font-weight: 700;
      color: $font-color-secondary;

      &:hover {
        background-image: none;
        background-color: $bg-color-dropdown-menu-highlight;
        color: $font-color-secondary;
      }

      &:focus {
        background-image: none;
        background-color: $bg-color-dropdown-menu-highlight;
        color: $font-color-secondary;
        outline: 1px dotted $bg-color-primary;
      }
    }

    li:nth-child(2n) a {
      background-color: #585866;

      &:hover, &:focus {
        background-color: $bg-color-dropdown-menu-highlight;
      }
    }
  }
}*/

.menu-footer {
  margin-right: -20px;
  font-size: $font-size-md;
  font-weight: 400;

  & &__item {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  & &__link {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    color: $font-color-light;

    @media (max-width: $screen-sm-max) {
      text-align: center;
    }

    &:before {
      display: block;
      content:'';
      position: absolute;
      height: 1px;
      width: 0;
      top: 90%;
      background-color: $bg-color-secondary; 
      transition: width 0.3s ease;

      @media (max-width: $screen-sm-max) {
        display: none;
      }
    }

    &:hover, &:focus {
      background-color: transparent;
    }

    &:focus {
      outline: 1px dotted $outline-color;
    }

    &:hover:before {
      width: calc(50% - 20px);
    }
  }
}

.section-feedback {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $bg-color-secondary;
}

.feedback {
  padding: 25px 30px;
  background-color: $bg-color-primary;

  &__title {
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: $font-size-xlg;
  }

  &__description {
    color: $font-color-light;
  }

  &__form {
  }

  &__field {
    flex-grow: 1;
  }
}

.form {
  display: flex;
  justify-content: space-between;

  @media (max-width: $screen-xs-max) {
    display: block;
  }

  & &__field {
    width: 100%;
    height: 100%;
    border-radius: 0;

    @media (max-width: $screen-xs-max) {
      height: 50px;
    }

    &:hover {
      @media (min-width: $screen-md-min) {
        border-color: transparent;
        outline: 2px dotted darken($bg-color-secondary, 40);
        box-shadow: none;
      }
    }

    &:focus {
      border-color: transparent;
      outline: 2px dotted darken($bg-color-secondary, 40);
      box-shadow: none;
    }
  }

  &__field::placeholder {
    font-weight: bold;
    text-transform: uppercase;
    font-size: $font-size-sm;
    color: $font-color-placeholder;
  }
}

.footer {
  padding-top: 45px;
  padding-bottom: 45px;

  &__navbar {

    @media (max-width: $screen-md-max) {
      float: none;
      display: flex;
      justify-content: center
    }

    @media (max-width: $screen-xs-max) {
      display: block;
    }
  }

  /*&__group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }*/

  &__copyright {
    margin-bottom: 25px;
    padding-top: 15px;
    text-align: right;
    font-size: $font-size-md;
    color: $font-color-light;

    @media (max-width: $screen-md-max) {
      text-align: center;
      padding-top: 0;
      margin-bottom: 20px;
    }
  }
}

.social-list {
  display: flex;
  justify-content: space-around;
  list-style: none;

  &__item {
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    padding: 7px;

    &:focus {
      outline: 1px dotted $outline-color;
    }

    &:hover {
     .social-list__icon {
      &--fb {
        --first-color: #4867AA;
      }
      &--tw {
        --first-color: #00ABF0;
      }

      &--yt {
        --first-color: #f00;
      }

      &--in {
        --first-color: #0077b5;
      }
      &--pi {
        --first-color: #e60023;
      }

      &--inst {
        --first-color: #d6249f;
      }
    }
  }

  &__icon {
    display: block;
    width: 20px;
    height: 20px;
  }
}
}

.main-menu {
  font-size: $font-size-sm;
  font-weight: 700;

  @media (max-width: $screen-xs-max) {
    width: 300px;
    margin-left: auto;
    background-color: $bg-color-dropdown-menu;
  }

  & &__item {
    padding-left: 0px;
    padding-right: 0px;

    &:hover,
    &:focus {
      & .dropdown-menu {
        @media (min-width: $screen-sm-min) {
          visibility: visible;
          transform: scaleY(1);
          opacity: 1;
        }
      }
    }
  }

  & &__link {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;

    @media (max-width: $screen-xs-max) {
      text-align: center;
      color: $font-color-secondary;
    }

    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 20px;
      width: calc(50% - 10px);
      height: 1px;
      background-color: $font-color-primary;
      opacity: 0;
      transition: top 0.3s ease, opacity 0.3s ease;
    }

    &:hover:before {
      top: 10px;
      opacity: 1;
    }

    &:hover, &:focus {
      background-color: transparent;
      color: $font-color-primary;

      @media (max-width: $screen-xs-max) {
        color: $font-color-secondary;
      }      
    }

    &:focus {
      outline: 1px dotted $outline-color;
    }
  }

  &__dropdown {
    padding: 0;
    font-size: $font-size-sm;
    background-color: $bg-color-dropdown-menu;

    @media (min-width: $screen-sm-min) {
      display: block;
      opacity: 0;
      visibility: hidden;
      transform: scaleY(0.5);
      transform-origin: 0 0;
      transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    }
    
    & > li > a {
      padding: 10px 20px;
      font-weight: 700;
      color: $font-color-secondary;

      &:hover {
        background-image: none;
        background-color: $bg-color-dropdown-menu-highlight;
        color: $font-color-secondary;
      }

      &:focus {
        background-image: none;
        background-color: $bg-color-dropdown-menu-highlight;
        color: $font-color-secondary;
        outline: 1px dotted $bg-color-primary;
      }
    }

    li:nth-child(2n) a {
      background-color: #585866;

      &:hover, &:focus {
        background-color: $bg-color-dropdown-menu-highlight;
      }
    }
  }
}