/** {
  outline: 1px solid red;
}*/

.section {
  padding-bottom: 150px;

  @media (max-width: $screen-md-max) {
    padding-bottom: 100px;
  }

  @media (max-width: $screen-sm-max) {
    padding-bottom: 70px;
  }

  @media (max-width: $screen-xs-max) {
    padding-bottom: 40px;
  }
}

.list-features {
  display: flex;
  justify-content: space-between;

  @media (max-width: $screen-sm-max) {
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 20px;
    padding: 0 15px;
    min-width: 235px;
    
    @media (max-width: $screen-sm-max) {
      max-width: 350px;
    }

    @media (max-width: $screen-xs-max) {
      max-width: 300px;
      flex-basis: 40%;
    }
  }

  &__badge {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: $font-size-lg;
  }

  &__lead {
    font-size: $font-size-md;
    line-height: $line-height-secondary;
  }
}

.list-prices {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 2em;

  &__item {
  }
}

.card {
  position: relative;
  padding: 30px 30px 40px;
  border-top: 5px solid $bg-color-secondary;

  @media (max-width: $screen-xs-max) {
    width: max-content;
  }
  
  &:after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 0;
    height: 0;
    border-top: 7px solid $bg-color-secondary;
    border-right: 7px solid $bg-color-secondary;
    border-left: 7px solid transparent;
    border-bottom: 7px solid transparent;
  }

  &:hover {
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
  }

  &__title {
    margin-bottom: 15px;
    font-size: $font-size-h2;
  }

  &__cost {
    display: inline-block;
    margin-bottom: 40px;
    padding: 5px 20px;
    font-family: $font-family-secondary;
    font-weight: bold;
    font-size: $font-size-md;
    color: $font-color-secondary;
    background-color: $bg-color-secondary;
  }

  &__list {
    margin-left: 15px;
    margin-bottom: 45px;
  }
}


.Shape_16_copy_2 {
  background-color: rgb(123, 238, 199);
  position: absolute;
  left: 763px;
  top: 1389px;
  width: 50px;
  height: 20px;
  z-index: 39;
}
.Shape_4_copy {
  background-color: rgb(123, 238, 199);
  position: absolute;
  left: 532px;
  top: 1711px;
  width: 68px;
  height: 21px;
  z-index: 50;
}




