$WHITE: #fff;

$turquoise: #7beec7;
//$grey: rgba(96, 96, 110, 0.502);

$font-family-base: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
$font-family-secondary: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
$line-height-base: 1.714285;
$line-height-secondary: 2.142857;

$base-font-size: 16px;
$font-size-h1: 36px;
$font-size-h2: 30px;
$font-size-xlg: 24px;
$font-size-lg: 18px;
$font-size-md: 14px;
$font-size-sm: 12px;

$font-color-primary: #60606e;
$font-color-secondary: $WHITE;
$font-color-additional: $turquoise;
$font-color-light: #999;
$font-color-placeholder: #cdcdcd;

$bg-color-primary: $WHITE;
$bg-color-secondary: $turquoise;
$bg-color-header: rgba(96, 96, 110, 0.502);
$bg-color-dropdown-menu: #60606e;
$bg-color-dropdown-menu-highlight: #404051;

$outline-color: #585866;

//Social color
$color-fb: #4867AA;
$color-vk: #4C75A3;
$color-tw: #00ABF0;
$color-gp: #DC493C;
$color-rss: #f26522;
$color-in: #0077b5;
$color-yt: #ff0000;
$color-tg: #0088cc;
$color-inst: #d6249f;
$color-sf: #1DB954;

$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;

$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;

$screen-md:                  992px;
$screen-md-min:              $screen-md;

$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;

$screen-xs-max:              ($screen-sm-min - 1); // до 767
$screen-sm-max:              ($screen-md-min - 1); // до 991
$screen-md-max:              ($screen-lg-min - 1); // до 1199